.forgot-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(120deg,
            #8b1818 0%,
            #d49c8f 35%,
            #f7ebdb 75%,
            #ffe7c4 100%);
}

.logo-text {
    font-family: 'Molle', cursive;
    font-size: 3rem;
    color: #3d1f00;
    font-style: italic;
    margin: 0;
    display: flex;
    justify-content: center;
}


.left-side {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speaker-image {
    width: 320px;
}

.forgot-card {
    width: 460px;
    background: rgba(255, 255, 255, .65);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, .3);
}

.logo {
    text-align: center;
    font-family: cursive;
    color: #4f2b22;
}

.mantine-Button-root {
    background: #6a231f;
}

.mantine-Button-root:hover {
    background: #501915;
}